html
    head
        title Quake 3 Arena Log
        link(rel="icon" href="public/logo.png")
        link(rel="stylesheet" href="public/style.css")
    body
        div.bg
        main
            section.logo
                img(src="public/logo.png")
                h1 Quake 3 Arena
                h2 Game Results
            section.data
                each data, match in game
                    div.match
                        p Game Match #{match + 1}
                        p Total Kills #{data.total_kills}
                        div.data-player
                            p Players
                            p Kills
                        div.player
                            - for (var i = 0; i < data.players.length; i++)
                                p #{data.players[i].name}
                                p #{data.players[i].kills}