*{box-sizing: border-box;}
html {font-family: sans-serif;}

body{
    padding: 0; margin: 0;
    /*background: -webkit-linear-gradient(#0e0909 0%, #7f0000 70%);*/
    background: url('bg.png');
    background-size: cover;
    overflow-x: hidden;
 }

 .bg {
    background: linear-gradient(#0e0909 0%, #7f0000 70%);
    width: 100%;
    height: 100vh;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }

main {
    display: flex; 
    justify-content: space-between; 
    padding: 0 1em; 
    height: 100%;
}

.logo {text-align: center; color: white;}

.data {flex-basis: 400px; text-align: center; padding: 0 .5em; border-left: 2px solid gold;border-right: 2px solid gold; background-color: #250606; color: white; transform: translateX(120%); animation: showData .3s linear forwards; font-size: 1.3em; overflow-y: scroll;}

.match {align-self: center; height: 80px; overflow: hidden; border: 3px solid white; margin: 1em 0; padding: .5em; cursor: pointer; transition: height .5s;}

.match:hover {height: 100%;}

.data-player {display: flex; justify-content: space-between; align-self: center;}

.player {display: flex; justify-content: space-between; flex-wrap: wrap;}
.player > p {flex-basis: 50%; text-align: start}
.player > p:nth-of-type(even) {text-align: right;}
.player > p:nth-of-type(odd) {text-align: left;}

.data-player:nth-of-type(1) {border-bottom: 2px solid white;}

@keyframes showData {
    from {transform: translateX(120%);}
    to {transform: translateX(0%);}
}